
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Verify Your Email</title>
</head>

<body>

    <nav id="fake-nav">
        <img src="~/img/logo-blue.png" alt="">
    </nav>

    <main id="verification">
        <div class="outer-panel">
            <div class="outer-panel-inner">
                <div class="process-title">
                    <h2 class="step-title">You're all set. Ready?</h2>
                </div>

                <div class="process-panel-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="content-wrapper">
                                <img src="~/img/mailbox.svg" alt="">
                                <div class="success-text">
                                    <h3>Congratz, you successfully created your account.</h3>
                                    <p>
                                        We just sent you a confirmation email. Please confirm your account within 24
                                        hours.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



</body>

</html>
