
@{
    ViewData["Title"] = "Not Found";
}

<main id="error">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error-wrapper">
                    <img src="~/img/404-not-found-png.png" alt="Error">
                </div>
            </div>
        </div>
    </div>
</main>

